body {
    font-family: 'Open Sans', sans-serif;
}

.login-form {
    width: 400px;
    margin: 0 auto;
    padding-top: 40px;
}

.simple-border {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #dee2e6;
    padding: 20px;
}

.navbar {
    padding: 0px 20px;
    background: none;
}

.hero {
    padding-top: 200px;
    height: 400px;
    background-image: url('./cover.jpg');
    background-position: center;
    background-size: cover;
}

.inner-hero {
    background-color: whitesmoke;
    padding: 30px;
}

.info-card {
    text-align: center;
}
ion-icon {
    font-size: 100px;
}